server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: core-service
          uri: http://localhost:8082
          predicates:
            - Path=/core/**

jwt:
  secret: flowops-secret-key-123456
